.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 2rem;
    height: 100vh;
}

.infoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title{
    margin-bottom: 5rem;
    font-size: 4.5rem;
    text-align: center;
}

.subtitle{
    font-size: 2.6rem;
    margin-bottom: 1rem;
}

.textTechnologies{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.span{
    color: var(--main-color);
}

.container{
    display: grid;
    gap: 2rem;
    max-width: 50vw;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    background: var(--second-bg-color);
    margin-bottom: 3rem;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover{
    box-shadow: none;
}

#icon{
    font-size: 5rem;
    color: var(--main-color);
}

#iconSkills{
    font-size: 3rem;
}

@media (max-width: 991px) {
    .skills{
        padding-bottom: 7rem;
    }
}

@media (max-width: 768px) {
    .title{
        margin-bottom: 3rem;
    }
    .textTechnologies{
        font-size: 1.4rem;
    }
}

@media (max-width: 420px) {
    .textTechnologies{
        margin: 0;
    }
    #iconSkills{
        font-size: 2rem;
    }
    .box{
        gap: 1rem;
        padding: 1rem;
    }
}