.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
    min-height: 100vh;
    padding: 10rem 9% 3rem;
}

.circle{
    border-radius: 50%;
	height: 325px;
    width: 100%;
    max-width: 325px;
	border: 7px solid #0ef;
    display: flex;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 0 7px 3px #0ef;
}

.container{
    width: 80%;
}

.img{
    margin-top: 8px;
}

.title{
    font-size: 4.5rem;
    text-align: left;
}

.subtitle{
    font-size: 2.6rem;
}

.span{
    color: var(--main-color);
}

.text{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover{
    box-shadow: none;
}

.ul{
    margin-left: 15px;
}

.li{
    list-style-type: none;
}

@media (max-width: 991px) {
    .about{
        flex-direction: column-reverse;
    }
    .title{
        margin-bottom: 3rem;
    }
    .circle{
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .about{
        flex-direction: column-reverse;
    }
}

@media (max-width: 375px) {
    .circle{
        height: 260px;
    }
}

